/* Ipad pro */

@media (min-width: 1024px) and (max-width: 1366px) {
    .header-recorder li a.ovvy-screen {
        font-size: 32px;
    }
    #app-recorder .section-organized.organized-first .row {
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
    }
    .simples-screen img {
        width: 100%;
    }
    #app-recorder .section-organized.organized-third .row {
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized.organized-five .row {
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized {
        padding: 10px 0;
    }
    #app-recorder .section-organized p.edit-img {
        text-align: center;
        margin: 0;
    }
    #app-recorder .left-mb {
        margin-bottom: 26px;
    }
    #app-recorder .download-btn {
        margin-top: 4px;
    }
    #app-recorder footer {
        padding: 60px 80px;
    }
    .capture img {
        width: 100%;
    }
}


/* tablet and mobile */

@media (max-width: 1023px) {
    #app-recorder .section-organized.organized-first .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized.organized-third .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized.organized-five .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header-recorder {
        padding: 10px 30px;
    }
    .header-recorder li a.ovvy-screen {
        font-size: 22px;
    }
    #app-recorder .left-mb {
        margin-bottom: 26px;
    }
    #app-recorder .main-content-recorder {
        padding: 50px 40px;
    }
    #app-recorder .main-quote .row {
        margin-bottom: -10px;
    }
    #app-recorder .section-organized.organized-first .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized.organized-third .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized.organized-five .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #app-recorder .section-organized {
        padding: 10px 0;
    }
    #app-recorder .section-organized p.edit-img {
        text-align: center;
        margin: 0;
    }
    #app-recorder .section-organized img {
        max-width: 100%;
    }
    .quote p:first-child::before {
        font-size: 160px;
    }
    #app-recorder .section-organized h2 {
        font-size: 34px;
        text-align: center;
    }
    #app-recorder .section-organized p.paragraph {
        text-align: center;
        line-height: 1.5em;
    }
    #app-recorder .content-pages {
        padding: 100px 20px 20px 20px;
        max-width: 100%;
    }
    #app-recorder .section-organized h3 {
        text-align: center;
    }
    #app-recorder footer {
        padding: 40px 40px;
    }
    #app-recorder .content-text {
        flex-direction: column;
        padding-bottom: 0px;
    }
    #app-recorder .wrap-button {
        margin: 0;
        text-align: center;
    }
}


/* Mobile */

@media (max-width: 739px) {
    #app-recorder .header__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header-recorder {
        padding: 10px;
    }
    .header-recorder ul {
        font-size: inherit;
    }
    .header-recorder ul li {
        padding-right: 14px;
    }
    .header-recorder li a img {
        display: block;
        width: 80px;
    }
    .header-recorder li a.ovvy-screen {
        font-size: 11px;
        letter-spacing: 1px;
    }
    #app-recorder iframe {
        width: 100%;
    }
    #app-recorder .main-content-recorder {
        padding: 40px 26px;
    }
    #app-recorder .section-organized h2 {
        font-size: 26px;
        text-align: center;
    }
    #app-recorder .section-organized h3 {
        font-size: 24px;
        text-align: center;
    }
    #app-recorder .section-organized p.paragraph {
        text-align: center;
        line-height: 1.5em;
    }
    #app-recorder .section-organized.main-quote .left-mb {
        margin-bottom: 20px;
    }
    #app-recorder .wrap-button {
        text-align: center;
    }
    #app-recorder .download-btn {
        margin-top: 0;
    }
    #app-recorder footer {
        padding: 40px 20px;
        text-align: center;
    }
    #app-recorder .footer-pages {
        padding: 10px 40px;
        margin-top: -60px;
    }
}


/* Small Mobile */

@media (max-width: 550px) {
    #app-recorder .main-content-recorder {
        padding: 40px 20px;
    }
    #app-recorder .main-quote .edit-img {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    #app-recorder .header {
        padding: 10px 8px;
    }
    #app-recorder .header .logo-svg {
        width: 80px;
    }
    #app-recorder .main-quote .edit-img {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .header-recorder li a.ovvy-screen {
        font-size: 8px;
        letter-spacing: 1px;
    }
}


/* Help Page */

@media (min-width: 1090px) and (max-width: 1200px) {
    img.open-close {
        width: 400px;
        max-width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    #app-recorder .section-organized.section-settings {
        padding: 50px 0;
    }
}