    #app-recorder {
        overflow: hidden;
        position: relative;
    }
    
    .header-recorder {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 10px 100px;
        /* background-color: #ffc42f; */
        background-color: var(--second-color);
    }
    
    .header-recorder .header__inner {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .header-recorder ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .header-recorder ul li {
        padding-right: 30px;
    }
    
    .header-recorder ul li:last-child {
        padding-right: 0px;
    }
    
    .header-recorder li a img {
        display: block;
    }
    
    .header-recorder li a.ovvy-screen {
        text-decoration: none;
        color: var(--white-color);
        font-size: 34px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    /* How To Use Button */
    
    .how-to-use {
        /* display: inline-block; */
        cursor: pointer;
    }
    
    a.how-to-use {
        /* background: linear-gradient(#f4586b, #ff0000); */
        /* background: linear-gradient(#6a00f0, #ff10ff); */
        background: var(--primary-color);
        color: #fff !important;
        display: inline-block;
        text-transform: none;
        padding: 0px 20px;
        height: auto;
        text-decoration: none;
        white-space: normal;
        text-align: center;
        line-height: 48px;
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 22px;
        box-shadow: rgb(0 0 0 / 25%) 0px 10px 20px 0px;
        border-radius: 5px;
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        border-width: 0px;
        backdrop-filter: none;
        filter: brightness(100%);
    }
    /* Main Content */
    
    .main-content-recorder {
        background-color: var(--primary-color);
        font-family: 'Rockwell', sans-serif;
        padding: 50px 200px;
        margin-top: 60px;
        color: var(--black-color);
        line-height: 26px;
    }
    
    .main-content-recorder .discount-code {
        font-size: 26px;
        color: var(--primary-color);
        font-weight: bold;
    }
    
    .main-content-recorder .discount-code a {
        color: var(--primary-color);
    }
    /* Text main large */
    
    .main-content-recorder .text-main h2 {
        font-size: 64px;
    }
    
    .simples-screen {
        margin-top: 70px;
    }
    /* Quote Section */
    
    .main-content-recorder .main-quote .row {
        display: flex;
        align-items: center;
    }
    /* Organized First */
    
    .main-content-recorder .section-organized {
        padding: 30px 0;
    }
    
    .main-content-recorder .section-organized .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main-content-recorder .section-organized p.edit-img {
        text-align: center;
    }
    
    .main-content-recorder .section-organized h2 {
        font-size: 36px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--h2-color);
        text-shadow: 1px 1px 0 black;
        text-align: center;
    }
    
    .main-content-recorder .section-organized h2.huge-title {
        font-size: 50px;
    }
    
    .title-second-color {
        color: var(--white-color);
        font-size: 60px;
    }
    
    .bg-behind {
        background: rgb(253 253 253 / 80%);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
        border-radius: 1rem;
        padding: 36px 24px 22px 24px;
        margin-top: 10px;
    }
    
    .main-content-recorder .section-organized p.paragraph {
        color: var(--p-color);
        line-height: 1.7em;
        text-align: justify;
        font-size: 18px;
        margin: 8px 0;
        /* background: rgba(50, 108, 238, .4);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
        border-radius: 1rem;
        padding: 20px; */
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .h5-purpose {
        color: #F85315;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    
    .app-buttons ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-top: 30px;
    }
    
    .app-buttons ul li {
        padding-right: 10px;
    }
    
    .exclusion-list ul {
        padding-left: 0;
        list-style: none;
    }
    
    .exclusion-list ul li {
        margin-top: 10px;
    }
    
    .exclusion-list ul li a {
        text-decoration: none;
        color: var(--white-color);
        font-size: 16px;
    }
    
    .exclusion-list ul li a:hover {
        color: #1691aa;
        cursor: pointer;
    }
    
    .wrap-button {
        margin-top: 50px;
        text-align: center;
    }
    
    .wrap-button .btn.learn-more {
        background-color: transparent;
        background-image: linear-gradient( 1085deg, #21bdca 0%, #00cd98 100%);
        text-shadow: 0px 0px 10px rgb(0 0 0 / 0%);
        padding: 16px 26px;
        color: var(--white-color);
        font-size: 16px;
    }
    
    .two-buttons a {
        background-color: transparent;
        background-image: linear-gradient( 1085deg, #21bdca 0%, #00cd98 100%);
        text-shadow: 0px 0px 10px rgb(0 0 0 / 0%);
        padding: 16px 26px;
        color: var(--white-color);
        font-size: 16px;
        margin-right: 10px;
    }
    
    .h5-objective {
        color: var(--h5-color);
        font-size: 18px;
        font-weight: normal;
    }
    
    .take-a-tour {
        margin-bottom: 60px;
    }
    
    .main-content-recorder .section-organized h3 {
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: #fff;
        text-shadow: 1px 1px 0 black;
    }
    
    .main-content-recorder .organized-four .small-text {
        font-size: 14px;
        color: var(--white-color);
        margin-top: -8px;
    }
    
    .main-content-recorder .organized-five p {
        /* color: #000; */
        line-height: 2em;
        text-align: justify;
        font-size: 16px;
        color: #fff;
        /* background: rgba(50, 108, 238, .4);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
        border-radius: 1rem;
        padding: 20px; */
        /* text-shadow: 1px 1px 0 black; */
    }
    
    .main-content-recorder .organized-five .small-text-five {
        text-align: center;
        font-size: 14px;
        line-height: 1em;
    }
    
    .section-form {
        background-attachment: scroll;
        background-color: #02275f;
        /* background-image: url(https://neurology.us.com/wp-content/uploads/2019/11/brain-blue-back.png); */
        background-position: -667px 250px;
        background-repeat: no-repeat;
        background-size: 90% auto;
        margin-bottom: 0px;
        padding: 100px 25px 75px 25px;
        position: relative;
    }
    
    .section-form p.paragraph {
        color: var(--p-color);
        line-height: 1.7em;
        font-size: 18px;
        margin: 8px 0;
    }
    
    .section-form h2 {
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin-bottom: 30px;
        color: var(--white-color);
        text-shadow: 1px 1px 0 black;
        text-align: center;
    }
    
    .section-form .small-text {
        font-size: 16px;
        color: var(--p-color);
    }
    /*  Content Pages */
    
    .content-pages {
        padding: 100px 100px 20px 100px;
        background-color: var(--primary-color);
    }
    /* footer */
    
    #app-recorder footer {
        padding: 40px 100px;
        background-color: var(--footer-color);
    }
    
    #app-recorder footer h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
        text-shadow: 1px 1px 0 black;
    }
    
    #app-recorder footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        /* color: #000; */
        color: #fff;
        /* background: rgba(50, 108, 238, .4);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
        border-radius: 1rem;
        padding: 20px; */
        /* text-shadow: 1px 1px 0 black; */
    }
    
    #app-recorder footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;
    }
    
    #app-recorder footer .link-bottom a {
        color: #fff;
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
        text-shadow: 1px 1px 0 black;
    }
    
    #app-recorder footer .row.footer-text .col p,
    #app-recorder footer .row.footer-text .col h3,
    #app-recorder footer .row.footer-text .col a {
        color: #000;
        text-shadow: none;
    }
    /* Side Floater */
    
    #app-recorder .share {
        position: fixed;
        z-index: 1000;
        right: 0;
        bottom: 50%;
        width: 70px;
        padding: 18px 6px 0;
        background: #fff;
        border-radius: 20px 0 0 20px;
        transform: translate(0, 50%);
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    }
    
    .srOnly {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    
    #app-recorder .share a {
        display: block;
        transition: transform .3s;
    }
    
    #app-recorder .share a:hover {
        transform: translate(0, -8px);
    }
    
    #app-recorder .share img {
        display: block;
        padding: 14px 8px;
        max-width: 100%;
    }
    /* video section */
    
    video.video-recorder {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    /* Help Page */
    
    .text-general-paragraph {
        font-size: 22px;
    }
    
    .text-general-paragraph span {
        color: var(--pink-color);
    }
    
    .number {
        font-size: 70px;
        color: var(--primary-color);
    }
    
    @media screen and (min-width: 1350px) {
        .section-settings {
            margin-top: -60px;
        }
    }
    /* left corner */
    /* footer line  */
    
    footer .grid {
        padding-top: 20px;
    }
    /* paragraph color gray */
    
    .main-content-recorder .section-organized p.paragraph.color-gray {
        color: var(--primary-color);
    }
    /* Ribbon */
    
    .ribbon {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 450px;
        height: 100px;
        position: absolute;
        top: 40px;
        left: -140px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 24px;
        overflow: hidden;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border: 1px dashed #fff;
        /* box-shadow: 0 0 0 3px #b10225, 0px 21px 5px -18px rgba(0, 0, 0, 0.6); */
        box-shadow: 0 0 0 3px #ab0ca9, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
        /* background: #cb0027; */
        background: var(--primary-color);
        transition: all 1s ease-in-out;
    }
    
    .ribbon h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin: 2px 0;
        color: var(--white-color);
    }
    
    .ribbon img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    
    .ribbon span {
        font-size: 15px;
        color: var(--white-color);
        text-transform: uppercase;
    }
    
    @keyframes slideIn {
        0% {
            margin-top: -150px;
        }
        25% {
            margin-top: 0;
        }
        50% {
            margin-top: 0;
        }
        75% {
            margin-top: 150px;
        }
        100% {
            margin-top: 150px;
        }
    }
    /* Terms Page */
    
    .terms,
    .help {
        margin-bottom: 30px;
    }
    
    .terms .top-terms,
    .help .top-help {
        margin-top: 50px;
    }
    
    .terms .top-terms h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.6px;
        color: #009ee2;
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        max-width: 100%;
    }
    
    .terms .top-terms p {
        color: #83c9e2;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
    }
    
    .terms h4 {
        color: rgb(225, 249, 255);
        font-size: 22px;
        line-height: 1.15;
        margin-bottom: 20px;
    }
    
    .terms p {
        text-align: justify;
        color: #a0bdd3;
        font-size: 16px;
        line-height: 24px;
    }
    
    .help .top-help h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.6px;
        color: #009ee2;
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        max-width: 100%;
    }
    
    .help .top-help h1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.6px;
        color: var(--white-color);
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        max-width: 100%;
    }
    
    .help .top-help p {
        color: #83c9e2;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
    }